li.arrow {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  display: block;
}

li.arrowhide {
    list-style-type: none;
    display: none;
}
  

li.arrow:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}

label:before + #menu-toggle:checked {
    content: "\25BA \0020";
    font-size: 6px;
    /* position: absolute;
    top: 5px;
    left: 0px; */
  }

label.arrow_t:before {
    content: "\0020 \25BA";
    font-size: 6px;
    /* position: absolute;
    top: 5px;
    left: 0px; */
  }

li {
    list-style-type: none;

}

#menu-toggle {
    display: none; /* hide the checkbox */
  }
#menu {
display: block;
}
#menu-toggle:checked + #menu {
display: none;
}


.hidden {
    display: none;
}