li.arrow-expand {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  display: block;
}

li.arrow-expand:before {
  content: "\2937";
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: -10px;
}

li.arrow-collapse {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  display: block;
}

li.arrow-collapse:before {
  content: "\2934";
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: -10px;
}

li ul.arrow-expand {
  list-style-type: none;
}

li ul.arrow-collapse {
  list-style-type: none;
  display: none;
}

label.arrow-expand {
  padding-left: 16px;
}

label.arrow-collapse {
  padding-left: 16px;
}

label.arrow-expand:before {
    content: "\2937";
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 0px;
}

label.arrow-collapse:before {
    content: "\2934";
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 0px; 
}

ul.arrow-expand {
  list-style-type: none;
}

ul.arrow-collapse {
  list-style-type: none;
  display: none;
}







