
<label for="menu-toggle" class="arrow">{{data.text}}</label>
<input type="checkbox" id="menu-toggle"/>
<ul id='menu'>
    <li *ngFor="let item of data.items"  (click)="toggle(item)" class="arrow">
        <span class="badge" data-id="{{item.id}}"></span> {{item.text}}
      <ul (domChange)="onDomChange($event)" [ngClass]="item.isToggle ? 'uarrowhide' : 'uarrow'">
        <li *ngFor="let child of item.items">
            <span class="badge" data-id="{{child.id}}"></span> {{child.text}}
        </li>
      </ul>
    </li>
  </ul>
<div>-----------------------------------------------------</div>
<kendo-grid
[data]="gridData"
[height]="350"
[pageable]="true"
[skip]="state.skip"
[pageSize]="state.take"

(dataStateChange)="dataStateChange($event)"
[selectable]="selectableSettings"
[kendoGridSelectBy]="'ProductID'"
[selectedKeys]="mySelection"
[selectable]="{enabled: true, checkboxOnly: false }"
[rowClass]="rowCallback"
>
<!-- <kendo-grid-checkbox-column></kendo-grid-checkbox-column> -->
<kendo-grid-column field="ProductID" title="ID" width="40">
</kendo-grid-column>
<kendo-grid-column field="ProductName" title="Name" width="250">
</kendo-grid-column>
<kendo-grid-column field="Category.CategoryName" title="Category" width="300">
</kendo-grid-column>
<kendo-grid-column field="UnitPrice" title="Price" width="120">
</kendo-grid-column>
<kendo-grid-column field="UnitsInStock" title="In stock" width="120">
</kendo-grid-column>
<kendo-grid-column field="Discontinued" title="Discontinued" width="120">
<ng-template kendoGridCellTemplate let-dataItem>
<input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
</ng-template>
</kendo-grid-column>
</kendo-grid>
